@model Equipe

@{
    //se não setar valor por padrao vem como home.
    ViewData["Title"] = "Equipe";
}

<h1>Tela de Equipes</h1>

<!-- 
    post -> enviar
    get -> obter



Importante ter o enctype pra quando trabalhamos com arquivos 
-->
<form method="post" action='@Url.Action("Cadastar")' enctype="multipart/form-data">
    <label for="inputName">Nome</label>
    <input type="text" name="Nome" id="inputName" required>
    <label for="inputImagem">Imagem</label>
    <input type="file" name="Imagem" id="inputImagem">

    <button type = "submit">Cadastrar</button>
</form>


<table class="table table-striped table-reponsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
    </thead>

    <tbody>
        @{
        int cont=1;
        foreach (Equipe equipe in ViewBag.Equipe)
        {
            <tr>
                <td>@cont</td>
                <td>@equipe.Name</td>
                <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Name" width="50px"></td>
                @* asp-area="" => igual descrição de imagem *@
                <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">Excluir</a> / <a asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe">Editar</a></td>
            </tr>
            cont++;
        }
        }
    </tbody>

</table>